<body style="background-color: blue; text-align: center; font-size:40px; color:white">
<h1>Birthday Greeter!</h1>
<h2>Hi <%=@name%></h2>
<h2>Your birthday is on <%=@bday%></h2>
<h2><%=@message%></h2>
</body>