<body style="background-color: blue; text-align: center; font-size:40px; color:white">
  <h1>Birthday Greeter!</h1>
  <h2>enter your name</h2>
  <form action="/names" method="post">
    <label for="enter your name">
      name
      <input type="text" name="enter_name">
    </label>

    <!-- <h3>Enter the date of your next birthday</h3> -->
    <label for="When is your next birthday?">
      When is you next birthday:
      <input type="date" name="bday">
      </label>
      <input type="submit" value="Submit">
    </form>
 </body> 