<h1>Birthday Greeter!</h1>
<h2>enter name</h2>
<form action="/names" method="post">
  <label for="enter_name">
    name
    <input type="text" name="enter_name">
  </label>
  <input type="submit" value="Submit">
<body style="background-color: blue; text-align: center; font-size:40px; color:white">
	
  <h3>Enter your date of birth</h3>
  <label for="Enter your date of birth">
    bday:
    <input type="date" name="bday">
    <input type="submit" value="Submit">
  </form>